/* 该系列人员负责：爆齐 */
/* 当前版本：v1.3.4 */

                a:link {
                  color: green;
                  background-color: transparent;
                  text-decoration: none;
                }

                    a:visited {
                      color: red;
                      background-color: transparent;
                      text-decoration: none;
                    }

                        a:hover {
                          color: orange;
                          background-color: transparent;
                          text-decoration: underline;
                        }

                    a:active {
                      color: yellow;
                      background-color: transparent;
                      text-decoration: underline;
                    }
