<!--该网站技术人员：段禹珩-->
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>网站员工编程信息</title>
        <style>a{text-decoration: none;}</style>
    </head>
    <body>
        <p>网站分工</p><ul>
            <li>后端</li><ul>
                <li><a href="./47段禹珩">线段</a></li>
            </ul>
            <li>前端</li><ul>
                <li>主页面</li><ul>
                    <li>框架</li><ul>
                        <li><a href="./47段禹珩">线段</a></li>
                    </ul><li>美化</li><ul>
                        <li><a href="./40张轩诚">张轩诚</a></li>
                        <li><a href="./03蒋俊峰">爆齐</a></li>
                    </ul>
                </ul><li>个人页面</li><ul>
                    <li><a href="./47段禹珩">线段</a></li>
                    </ul><li>梗网站</li><ul>
                        <li><a href="./03蒋俊峰">爆齐</a></li>
                    </ul><li>日志</li><ul>
                        <li><a href="./47段禹珩">线段</a></li>
                    </ul><li>帮助</li><ul>
                        <li><a href="./47段禹珩">线段</a></li>
                    </ul>
                </ul>
            </ul>
        </ul>
    </body>
</html>
<!--该网站技术人员：段禹珩-->
