<!--该网站技术人员：段禹珩-->
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>帮助/问题</title>
        <style>a{text-decoration: none;}</style>
    </head>
    <body>
        <h1>帮助/问题</h1>
        <p>
            遇到未提出或未解决的问题可以联系网站管理员
            <br/>
            邮箱：<strong>2398507109@qq.com</strong>(注意将邮件题目改为“<strong>6/0网站</strong>”)
        </p>
        <hr/>
        <h3>1.Microsoft Edge浏览器（或Google Charm浏览器）为什么不会自动播放音乐？</h3>
        <a href="https://jingyan.baidu.com/article/03b2f78c6f0acc1fa237aef4.html" target="_blank">常见问题，点击链接解答</a>
        <hr/>
        <h3>2.为什么有的人网站页面的右下角有转盘，有的人就没有？</h3>
        <p>答：偏心吧······</p>
        <hr/>
        <h3>3.为什么输入留言并提交后，再刷新页面，自己的留言会重复出现？</h3>
        <p>答：谁叫你刷新页面的？刷新页面后会重新提交表单（留言）！</p>
        <hr/>
        <h3>4.为什么每一次留言时都要重新输入用户名和密码，不能提前一次性登录好吗？</h3>
        <p>答：我们没有那么高级，还不会存储数据到浏览器本地呢！（网上没有教程）</p>
        <hr/>
        <h3>5.为什么有的浏览器打开网站特别丑？</h3>
        <p>答：因为页面（.html）文件是由浏览器进行解析的，不同的浏览器解析方式不同，会有误差。所以建议使用Microsoft Edge Web浏览器 或 Google Chrome浏览器（因为我们是用这个浏览器测试代码的）。</p>
        <hr/>
        <h3>6.为什么不同的设备打开网站区别那么大？</h3>
        <p>答：因为前端程序员太”厉害“了。还有，极力不建议用手机打开网站，试过的都知道为什么。</p>
        <hr/>
        <h3>7.为什么有（好多）人的个人网站都没有信息？</h3>
        <p>答：盗取信息是吧，你的心纯吗？（好吧，因为我们没来得及收集信息，然后就永远没来得及了。）</p>
        <hr/>
        <br/>
    </body>
</html>
<!--该网站技术人员：段禹珩-->
