<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <audio autoplay="autoplay" loop="loop" preload="auto" src="../static/music/meme/窗外的月光.mp3"></audio>
        <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta charset="utf-8">
                    <link rel="stylesheet" type="text/css" href="../static/CSS/610web.css">
                        <script src="../static/JavaScript/Time.js"></script>
                            <script src="../static/JavaScript/Copy.js"></script>
                                <title>610毕业回忆</title>
    </head> 
        <body background="../static/images/background/背景.png" style="background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 108% 100%;">	
    <div class="header">
        <h1>610回忆网站，校园中忘不掉的回忆..</h1>
    </div><br/><br/>

    <div class="bar">
        <strong><a href="./help" class="bar-txt" target="_blank">网站帮助</a></strong>
        <strong><a href="./WET" class="bar-txt-a" target="_blank">网站来源</a></strong>
        <strong><a href="./610stalk" class="bar-txt-b">610梗网站</a></strong>
        <strong><a href="./net" class="bar-txt-c">更多留言</a></strong>
    </div>

    <div class="graduate">
        <strong class="txt-yuwen">第六单元导读</strong>
            <strong class="time-a" id="time1">
                {time}
            </strong>
        <br><br/><br/><div class="ssc">
        <strong class="ssc-txt">
            那些种在校园里长不大的记忆，那些校园里忘不掉的纯真......
        </strong>
    </div>
            <div class="ssc-button">
                <strong class="ssc-copy">
                    <a href="#" onclick="copyToClipboard('《那些种在校园里长不大的记忆，那些校园里忘不掉的纯真 ---加油，少年！》')">
                        复制
                    </a>
                </strong>
            </div><br><br><br><br><br>
        <div class="ssc-bottom">
            <strong style="padding:15px;color:blue;font-size:20px;">
                ———
            </strong>
        </div><br><br>
            <img src="../static/images/photo/段禹珩.png" class="img">
        <strong class="txt">段禹珩</strong>
        <strong class="time" id="time2">
                {time}
            </strong>
        <br/><br/><br/>
                    <div class="ssc-ini-2">
        <strong class="ssc-txt">
            110、210、310...六年时光如白驹过隙，转眼就要毕业了。长大以后，我们必将各奔东西。
            <br/>
            但愿那时，我们都还会记得对方，愿我们缘断情不断！
        </strong>
    </div>
        <br/><br/><br/><br/><br/><br/>
        <style>
            .copy6{
                Margin-left: 10%;
            }
        </style>
        <div class="ssc-button-a copy6">
            <strong class="ssc-copy copy6">
                <a href="#" onclick="copyToClipboard('《110、210、310...六年时光如白驹过隙，转眼就要毕业了... ---真是时光匆匆啊...长大以后，我们必将各奔东西..、当然，但愿那时，我们都还会记得对方，愿我们缘断情不断！》')">
                    复制
                </a>
            </strong>
        </div>
    <br>
        <div class="ssc-bottom">
            <strong style="padding:15px;color:blue;font-size:20px;">
                ———
            </strong>
        </div><br><br>
        <img src="../static/images/photo/段禹珩.png" class="img">
        <strong class="txt">段禹珩</strong>
        <strong class="time" id="time3">
                {time}
        </strong><br/><br/><br/>
            <div class="ssc-ini">
        <strong class="ssc-txt-a">
            毕业了，也掏不出什么东西赠礼，“江南无所有，聊赠一枝春”，就编一个网站留住我们的回忆！  
        </strong>
    </div>
    <br/><br/><br/><br/><br/>
        <div class="ssc-bottom">
            <div class="ssc-button-a">
                <strong class="ssc-copy">
                    <a href="#" onclick="copyToClipboard('《毕业了，也掏不出什么东西赠礼，“江南无所有，聊赠一枝春”，就编一个网站留住我们的回忆！---情以物迁，辞以情发》')">
                        复制
                    </a>
                </strong>
            </div>
            <strong style="padding:15px;color:blue;font-size:20px;">
                ———
            </strong>

        </div><br><br>
    </div>
    <br><br><br><br>
    <h2>班级照片浏览</h2><br/><br/><br/><br/>
    <div>
        <img src="../static/images/images/img1.png" width="174" height="138" style="margin-right:10px;">
            <img src="../static/images/images/img2.png" width="174" height="138" style="margin-right:10px;">
                <img src="../static/images/images/img3.png" width="174" height="138" style="margin-right:10px;">
                    <img src="../static/images/images/img4.png" width="174" height="138" style="margin-right:10px;">
                        <img src="../static/images/images/img5.png" width="217.5" height="135.5" style="margin-right:10px;">
                            <img src="../static/images/images/img6.png" width="174" height="138" style="margin-right:10px;">
    </div>
    <br/>
    <h3>610全体成员（毕业啦！）</h3><br/><br/><br/>
    <p style="font-family:Simson;color:#57bceb;font-size:20px;">
        <div class="people">
            <img src="../static/images/photo/黄兰婷.png" class="people-img">
                <strong><a href="./01黄兰婷" class="people-href">1号 舞蹈达人 黄兰婷</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/江星汉.png" class="people-img-a">
                <strong><a href="./02江星汉" class="people-href-a">2号 下棋高手 江星汉</a></strong>
        </div><br/><br/>
        <div class="people-boom">
            <img src="../static/images/photo/蒋俊峰.png" class="people-img">
                <strong><a href="./03蒋俊峰" class="people-href">3号 &nbsp&nbsp&nbsp社牛漫画家,可爱初陽子 &nbsp&nbsp&nbsp爆齐</a></strong>
        </div><br/><br/>
        <div class="people-l">
            <img src="../static/images/photo/赖韵臣.png" class="people-img-a">
                <strong><a href="./04赖韵臣" class="people-href-cpp-a">4号 羽毛球王子 赖韵臣</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/李佳颖.png" class="people-img">
                <strong><a href="./05李佳颖" class="people-href">5号 朗诵声优 李佳颖</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/李景添" class="people-img-a">
                <strong><a href="./06李景添" class="people-href-a">6号 外交达人 李景添</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/曾沁棠.png" class="people-img">
                <strong><a href="./07曾沁棠" class="people-href">7号 老班长 曾沁棠</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/曾译琨.png" class="people-img-a">
                <strong><a href="./08曾译琨" class="people-href-a">8号 心心向简 曾译琨</a></strong>
        </div><br/><br/>
        <div class="people">    
            <img src="../static/images/photo/李芷萱.png" class="people-img">
                <strong><a href="./09李芷萱" class="people-href">9号 孤独之星 李芷萱</a></strong>
        </div><br/><br/>
        <div class="people-a">  
            <img src="../static/images/photo/李卓翰.png" class="people-img-a">
                <strong><a href="./10李卓翰" class="people-href-a">10号 FBI第一线 李卓翰</a></strong>
        </div><br/><br/>
        <div class="people">   
            <img src="../static/images/photo/刘沛珊.png" class="people-img">
                <strong><a href="./11刘沛珊" class="people-href">11号 萝莉声线 刘沛珊</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/刘梓涵.png" class="people-img-a">
                <strong><a href="./12刘梓涵" class="people-href-a">12号 灌篮高手 刘梓涵</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/芦嘉悦.png" class="people-img">
                <strong><a href="./13芦嘉悦" class="people-href">13号 爆齐的妈 芦嘉悦</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/陆佳贝.png" class="people-img-a">
                <strong><a href="./14陆佳贝" class="people-href-a">14号 下棋第二人 陆佳贝</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/马辰熠.png" class="people-img">
                <strong><a href="./15马辰熠" class="people-href">15号 帅气Mark 马辰熠</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/牛浩歌.png" class="people-img-a">
                <strong><a href="./16牛浩歌" class="people-href-a">16号 特遣队员 牛浩歌</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/任隆昕.png" class="people-img">
                <strong><a href="./17任隆昕" class="people-href">17号 班级成员 任隆昕</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/唐元玮.png" class="people-img-a">
                <strong><a href="./18唐元玮" class="people-href-a">18号 元玮三世 唐元玮</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/陶静涵.png" class="people-img">
                <strong><a href="./19陶静涵" class="people-href">19号 文静优雅 陶静涵</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/田鑫怡.png" class="people-img-a">
                <strong><a href="./20田鑫怡" class="people-href-a">20号 学霸一号 田鑫怡</a></strong>
        </div><br/><br/>
        <div class="people-cpp">
            <img src="../static/images/photo/涂辰开.png" class="people-img">
                <strong><a href="./21涂辰开" class="people-href-cpp">21号 帅气少年 涂辰开</a></strong>
        </div><br/><br/>
        <div class="people-x">
            <img src="../static/images/photo/涂辰心.png" class="people-img-a">
                <strong><a href="./22涂辰心" class="people-href-cpp-a">22号 一生所爱 涂辰心</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/汪子涵.png" class="people-img">
                <strong><a href="./23汪子涵" class="people-href">23号 舞蹈第二人 汪子涵</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/王尚敬.png" class="people-img-a">
                <strong><a href="./24王尚敬" class="people-href-a">24号 社会残星 王尚敬</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/王梓萌.png" class="people-img">
                <strong><a href="./25王梓萌" class="people-href">25号 可爱萌萌 王梓萌</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/吴锦轩.png" class="people-img-a">
                <strong><a href="./26吴锦轩" class="people-href-a">26号 无敌轩少 吴锦轩</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/吴心怡.png" class="people-img">
                <strong><a href="./27吴心怡" class="people-href">27号 英语能手 吴心怡</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/吴心悦.png" class="people-img-a">
                <strong><a href="./28吴心悦" class="people-href-a">28号 英语能手 吴心悦</a></strong>
        </div><br/><br/>
        <div class="people-cpp">
            <img src="../static/images/photo/陈秭悦.png" class="people-img">
                <strong><a href="./29陈秭悦" class="people-href-cpp">29号 帅气少女 陈秭悦</a></strong>
        </div><br/><br/>
        <div class="people-xi">
            <img src="../static/images/photo/肖子墨.png" class="people-img-a">
                <strong><a href="./30肖子墨" class="people-href-cpp-xi">30号 帅哥肖汪 肖子墨</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/陈梓虞.png" class="people-img">
                <strong><a href="./31陈梓虞" class="people-href">31号 orange鱼 陈梓虞</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/熊梓琪.png" class="people-img-a">
                <strong><a href="./32熊梓琪" class="people-href-a">32号 刁之男友 熊梓琪</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/程书文.png" class="people-img">
                <strong><a href="./33程书文" class="people-href">33号 爆齐好友 程书文</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/姚沐珂.png" class="people-img-a">
                <strong><a href="./34姚沐珂" class="people-href-a">34号 姚不可及 姚沐珂</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/程天翼.png" class="people-img">
                <strong><a href="./35程天翼" class="people-href">35号 搞笑学霸 程天翼</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/易雅兰.png" class="people-img-a">
                <strong><a href="./36易雅兰" class="people-href-a">36号 星期五 易雅兰</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/程惜蕊.png" class="people-img">
                <strong><a href="./37程惜蕊" class="people-href">37号 刁之好友 程惜蕊</a></strong>
        </div><br/><br/>
        <div class="people-xi">
            <img src="../static/images/photo/袁子衿.png" class="people-img-a">
                <strong><a href="./38袁子衿" class="people-href-cpp-xi">38号 袁绍喵喵 袁子衿</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/张宸硕.png" class="people-img">
                <strong><a href="./39张宸硕" class="people-href">39号 小萝莉 张宸硕</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/张轩诚.png" class="people-img-a">
                <strong><a href="./40张轩诚" class="people-href-a">40号 帅气轩二 张轩诚</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/张雅涵.png" class="people-img">
                <strong><a href="./41张雅涵" class="people-href">41号 文静优雅 张雅涵</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/张梓若.png" class="people-img-a">
                <strong><a href="./42张梓若" class="people-href-a">42号 怼人高手 张梓若</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/邓欣宇.png" class="people-img">
                <strong><a href="./43邓欣宇" class="people-href">43号 社会邓姐 邓欣宇</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/邓越兮.png" class="people-img-a">
                <strong><a href="./44邓越兮" class="people-href-a">44号 大方小邓 邓越兮</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/刁溪彧.png" class="people-img">
                <strong><a href="./45刁溪彧" class="people-href">45号 野生大刁 刁溪彧</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/董地.png" class="people-img-a">
                <strong><a href="./46董地" class="people-href-a">46号 班级土豪 董地</a></strong>
        </div><br/><br/>
        <div class="people-x-a">
            <img src="../static/images/photo/段禹珩.png" class="people-img">
                <strong><a href="./47段禹珩" class="people-href-cpp">47号 后端之神 段禹珩</a></strong>
        </div><br/><br/>
        <div class="people-a">
            <img src="../static/images/photo/方博涵.png" class="people-img-a">
                <strong><a href="./48方博涵" class="people-href-a">48号 开朗男孩 方博涵</a></strong>
        </div><br/><br/>
        <div class="people">
            <img src="../static/images/photo/付婉瑜.png" class="people-img">
                <strong><a href="./49付婉瑜" class="people-href">49号 凹凸画师 付婉瑜</a></strong>
        </div><br/><br/>
        <div class="people-l">
            <img src="../static/images/photo/赵梓琪.png" class="people-img-a">
                <strong><a href="./50赵梓琪" class="people-href-cpp-a">50号 得力助手 赵梓琪</a></strong>
        </div><br/><br/><br/>
        <br/>
    </p>
    <a href="./610web">&ensp;&emsp;&thinsp;&zwnj;&zwj;&ensp;&emsp;&thinsp;&zwnj;&zwj;</a>
    </body>
</html>

<!--

【这就是毕业后的景象吗...】
【等等，喂！喂！你为什么要看源代码！！！】
【齐】啊西..额额额..随你吧，反正我们已分道扬镳...
【愿能在彼岸相见，愿能在远方回忆..】
【旅船只是遮盖未来的影像，调考和毕业考才是指引着我们的命运。】
【该网站是毕业后的回忆网站，愿我们未来还会再相聚！】

# 大分类
前端（你看的到的）：赖韵臣，爆齐，段禹珩，张轩诚
后端（你看的到的）：段禹珩

# 各分工技术支持
总技术支持：段禹珩，赖韵臣，爆齐
网站开发：段禹珩
梗网站技术支持：爆齐
个人网站技术支持：段禹珩
后端运算技术支持：段禹珩
前端运算技术支持：赖韵臣，爆齐，段禹珩
主网站技术支持：爆齐，段禹珩
登录技术支持：段禹珩
主网站css支持：爆齐
主网站Javascript支持：爆齐
个人网站css支持：段禹珩

# 功能编写
点赞功能（后端，前端）：段禹珩
留言功能（后端，前端）；段禹珩
data数据存储（后端，前端）：段禹珩（后端&前端）
password密码功能（后端）：段禹珩
return后端返回（后端）：段禹珩
日志（后端，前端）：段禹珩
import-function运算（后端）：段禹珩
re后端拼接（后端）：段禹珩
framework框架运行（前端）：段禹珩
css_style美化（前端）：爆齐，张轩诚
html总网页编辑（前端）：段禹珩，爆齐
?xml来源：自带！

Python编写版本：3.7.8
Python运行版本：3.11.4

# 关于编写
编写问题解答来源：零声教学，小莓用AI，chatgpt镜像网站
编写图片来源：610qq群
编写音乐来源：MyFreeMP3（https://tool.liumingye.cn/music/），铜钟（https://tonzhon.com/）
编写信息来源：610集体成员之努力
编写信息收集：python收集信息U盘程序， 腾讯收集表
编写时所使用的程序：PyCharm，VsCode，Python3.7.8(&Python3.11.4)
编写时所使用的浏览器调试：Microsoft Edge Web，Google Chrome
编写时所使用的翻译：百度翻译
参与编写该网站：残星（算不上），吴锦轩（算不上），张轩诚（几乎算不上）

# 关于该网站
当前主网站Javascript版本：ver1.4.6_Js
当前主网站css版本：ver2.2.2_css
当前主网站html版本：ver3.3.3_Web
当前版本最后更新时间：2023-7-17

##########################################
##日志页面链接自己找，偏心的后端以告诉部分人##
##########################################

-->
