    <!DOCTYPE html>    <!-- Leave message html version is v1.1.2 -->
        <html lang="zh-CN">    <!-- And they all explanatory note language is English! -->
    <head>

            <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" type="text/css" href="../static/CSS/netweb.css">
                        <script src="../static/JavaScript/Time.js"></script>
                            <script src="../static/JavaScript/Copy.js"></script>
                                <script src="../static/JavaScript/FormNetInput.js"></script>

        </head>
            <body>

            <div class="net_header">
                <h1 class="net_h1">
                    来自同学们的更多留言哦！
                </h1></div>
                <div class="net_return"><strong><a href="../" class="net_return_href">返回主页面</a></strong>
                        </div><br/><br/>

                    <!-- next leave a message -->

                    <div class="net_people_xin" id="myDiv"><img src="../static/images/photo/涂辰心.png" class="net_img"></div>
                        <br/><strong class="net_name_girl">涂辰心</strong><strong class="net_time_girl" id="time1">{time}</strong>
                <div class="net_topping"><strong class="net_topping_text">置顶</strong></div>
                <div class="net_copy"><strong><a href="#" class="net_copy_text" onclick="copyToClipboard('我们曾经在一起欣赏过美丽的花；我们曾经在一起幻想过美丽的季节。同学啊，同学，分别后不要忘了我们曾经一起走过的日子。我们有过如水的平静，有过激烈的辩论，也有过无声的竞争。我们紧靠肩头，紧握双手，拥有一个共同的理想，发出一个共同的心声。无论是得到的，还是失去的，一切都将存留在我记忆的最深处。——涂辰心')">复制</a></strong></div><br/><br/>
                <div class="net_board"><strong class="net">
                        我们曾经在一起欣赏过美丽的花；我们曾经在一起幻想过美丽的季节。<br/>
                        同学啊，同学，分别后不要忘了我们曾经一起走过的日子。<br/>
                        我们有过如水的平静，有过激烈的辩论，也有过无声的竞争。<br/>
                        我们紧靠肩头，紧握双手，拥有一个共同的理想，发出一个共同的心声。<br/>
                        无论是得到的，还是失去的，一切都将存留在我记忆的最深处。<br/>
                </strong></div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

                    <!-- next leave a message -->

                <div class="net_people_girl-left"><img src="../static/images/photo/黄兰婷.png" class="net_img"></div>
                    <br/><strong class="net_name_girl-left">黄兰婷</strong><strong class="net_time_girl-left" id="time2">{time}</strong>
                <div class="net_topping-left"><strong class="net_topping_text-left">置顶</strong></div>
                <div class="net_copy-left"><strong><a href="#" class="net_copy_text" onclick="copyToClipboard('愿我们610所有人在未来生活中能开开心心，无忧无虑，有一个美好的未来，转眼白驹过隙又是一个毕业季，年少轻狂，未来不信宿命，愿我们保持自己的热爱，锦里附体，奔赴下一个烟火灿烂的山海！——黄兰婷')"
                >复制</a></strong></div><br/><br/>
                <div class="net_board_left-short"><strong class="net">
                    愿我们610所有人在未来生活中能开开心心，无忧无虑，有一个美好的未来，<br/>
                    转眼白驹过隙又是一个毕业季，年少轻狂，未来不信宿命，愿我们保持自己<br/>
                    的热爱，锦里附体，奔赴下一个烟火灿烂的山海！<br/>
                </strong></div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

                    <!-- next leave a message -->

                <div class="net_people_boy"><img src="../static/images/photo/李卓翰.png" class="net_img"></div>
                    <br/><strong class="net_name_boy">李卓翰</strong><strong class="net_time_boy" id="time3">{time}</strong>
                <div class="net_copy_common"><strong><a href="#" class="net_copy_text" onclick="copyToClipboard('祝610班的同学进入一个好初中，交到更多好朋友！——李卓翰')"
                >复制</a></strong></div><br/><br/>
                <div class="net_board_short"><strong class="net">
                    祝610班的同学进入一个好初中，交到更多好朋友！
                </strong></div><br/><br/><br/><br/><br/><br/>

                    <!-- next leave a message -->

                <div class="net_people_boy-left"><img src="../static/images/photo/马辰熠.png" class="net_img"></div>
                    <br/><strong class="net_name_boy-left">马辰熠</strong><strong class="net_time_boy-left" id="time4">{time}</strong>
                <div class="net_copy_common-left"><strong><a href="#" class="net_copy_text" onclick="copyToClipboard('小学已经结束了，但我们的友谊永不结束！——马辰熠')"
                >复制</a></strong></div><br/><br/>
                <div class="net_board_left-shorted"><strong class="net">
                    小学已经结束了，但我们的友谊永不结束！
                </strong></div><br/><br/><br/><br/><br/>

                    <!-- next leave a message -->

                <div class="net_people_girl" id="myDiv"><img src="../static/images/photo/邓欣宇.png" class="net_img"></div>
                        <br/><strong class="net_name_girl">邓欣宇</strong><strong class="net_time_girl" id="time5">{time}</strong>
                <div class="net_copy_common"><strong><a href="#" class="net_copy_text" onclick="copyToClipboard('希望610越来越好，莫愁前路无知己，天下谁人不识君！——邓欣宇')"
                >复制</a></strong></div><br/><br/>
                <div class="net_board_varshort"><strong class="net">
                    希望610越来越好，莫愁前路无知己，天下谁人不识君！
                </strong></div><br/><br/><br/><br/><br/>

                    <!-- next leave a message -->

                <div class="net_people_girl-left"><img src="../static/images/photo/张雅涵.png" class="net_img"></div>
                <br/><strong class="net_name_girl-left">张雅涵</strong><strong class="net_time_girl-left" id="time6">{time}</strong>
                <div class="net_copy_common-left"><strong><a href="#" class="net_copy_text" onclick="copyToClipboard('希望班里的每个人都能走向幸福的未来，长大以后，愿大家能再回到鲁小，共同回忆我们这六年来的时光！——张雅涵')"
                >复制</a></strong></div><br/><br/>
                <div class="net_board_left-varshort"><strong class="net">
                    希望班里的每个人都能走向幸福的未来，长大以后，愿大家能再回到鲁小，<br/>
                    共同回忆我们这六年来的时光！
                </strong></div><br/><br/><br/><br/><br/><br/><br/>

                    <!-- next leave a message -->

                <div class="net_people_girl-left"><img src="../static/images/picture/header.jpg" class="net_img"></div>
                <br/><strong class="net_name_girl-left">汪子涵</strong><strong class="net_time_girl-left" id="time7">{time}</strong>
                <div class="net_copy_common-left"><strong><a href="#" class="net_copy_text" onclick="copyToClipboard('梦有多燃，就能飞得多远。 ——汪子涵')"
                >复制</a></strong></div><br/><br/>
                <div class="net_board_left_endshort"><strong class="net">
                    梦有多燃，就能飞得多远。
                </strong></div><br/><br/><br/><br/><br/><br/>

                    <!-- next leave a message -->

                <div class="net_people_boy"><img src="../static/images/photo/张宸硕.png" class="net_img"></div>
                    <br/><strong class="net_name_boy">小萝莉</strong><strong class="net_time_boy" id="time8">{time}</strong>
                <div class="net_copy_common"><strong><a href="#" class="net_copy_text" onclick="copyToClipboard('加油吧！——小萝莉')"
                >复制</a></strong></div><br/><br/>
                <div class="net_board_overshort"><strong class="net">
                    加油吧！
                </strong></div><br/><br/><br/><br/><br/><br/>

                    <!-- next leave a message -->

                <div id="net_conceal_qi">
                <div class="net_people_qi"><img src="../static/images/photo/蒋俊峰.png" class="net_img"></div></div>
                    <br/><strong class="net_name_boy">爆齐</strong><strong class="net_time_boy_short" id="time9">{time}</strong>
                <div class="net_copy_short"><strong><a href="#" class="net_copy_text" onclick="copyToClipboard('友谊永不凋零，就像鸠和基诺那样的关系，送给大家一句phigros第八章记载的名言吧：旅船只是遮盖未来的影像，人生正指引着我们的命运，硬币掷出之后，正逆的交换从未停止，前方是光明亦是堕落，加油啊！ikun们！——爆齐')"
                >复制</a></strong></div><br/><br/>
                <div class="net_board_varlong"><strong class="net">
                    友谊永不凋零，就像鸠和基诺那样的关系，送给大家一句<br/>
                    phigros第八章记载的名言吧：旅船只是遮盖未来的影<br/>
                    像，人生正指引着我们的命运，硬币掷出之后，正逆的交<br/>
                    换从未停止，前方是光明亦是堕落，加油啊！ikun们！<br/>
                </strong></div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><hr class="net_hr">

                    <!-- Dynamic messages -->

                            {{message}}

                            <hr class="net_hr">

                    <!-- leave message over, and this a new leave message block! -->

                <h2 class="net_h2">
                    来自你的珍贵留言哦！
                </h2>
                <div class="net_other"><strong class="net">610留言...</strong>
                <strong class="net_opacity">610天天快乐！——XXX</strong></div><br/><br/><br/><br/><br/>
                <div class="net_other_left"><strong class="net" style="position:absolute;right:20px;">610留言...</strong>
                <strong class="net_opacity_left">610友谊不散！——XXX</strong></div><br/><br/><br/><br/><br/><br/>

            <div class="net_div_big">

                <form action="" name="net" method="post" name="action" value="net" id="myForm">
                    <strong class="net_font">姓名</strong><br/><br/><br/><br/>
                    <input name="sayer" class="net_div_font" type="text" id="inputField" placeholder="your name"><br/><br/><br/>

                    <strong class="net_font">留言密码</strong><br/><br/><br/><br/>
                    <input name="password" class="net_div_font" type="password" id="password" placeholder="your password"><br/><br/><br/>

                    <strong class="net_font">留言信息</strong><br/><br/><br/><br/>
                    <input name="say" class="net_div_font" type="text" id="myInput" placeholder="you want to say ......"><br/><br/><br/>

                    <!--
                    <strong class="net_font">头像背景</strong><br/><br/><br/><br/><br/><div class="net_package">
                    <input class="net_radio" type="radio" name="color" value="default"><strong class="net_span">默认男女颜色</strong>
                    <input class="net_radio" type="radio" name="color" value="net_people_peach"><strong class="net_span_peach">成熟桃子</strong>
                    <input class="net_radio_over" type="radio" name="color" value="net_people_pure-red"><strong class="net_span_pure-red">纯红色</strong>
                    <input class="net_radio_over" type="radio" name="color" value="net_people_pure-purple"><strong class="net_span_pure-purple">纯紫色</strong><br/><br/>
                    <input class="net_radio" type="radio" name="color" value="net_people_sky"><strong class="net_span_sky">湛蓝之空</strong>
                    <input class="net_radio" type="radio" name="color" value="net_people_pink" style="margin-left:80px;"><strong class="net_span_pink">心上之粉</strong>
                    <input class="net_radio_over" type="radio" name="color" value="net_people_pure-blue"><strong class="net_span_pure-blue">纯蓝色</strong>
                    <input class="net_radio_over" type="radio" name="color" value="net_people_pure-green"><strong class="net_span_pure-green">纯绿色</strong><br/><br/>
                    <input class="net_radio" type="radio" name="color" value="net_people_crystal"><strong class="net_span_crystal">时空水晶</strong>
                    <input class="net_radio" type="radio" name="color" value="net_people_purple" style="margin-left:80px;"><strong class="net_span_purple">纯紫水晶</strong>
                    <input class="net_radio_over" type="radio" name="color" value="net_people_pure-orange"><strong class="net_span_pure-orange">纯橘色</strong><br/><br/>
                    <input class="net_radio" type="radio" name="color" value="net_people_neon"><strong class="net_span_neon">霓虹街道</strong>
                    <input class="net_radio" type="radio" name="color" value="net_people_spring" style="margin-left:80px;"><strong class="net_span_spring">春日景色</strong>
                    <input class="net_radio_over" type="radio" name="color" value="net_people_pink"><strong class="net_span_pure-pink">纯粉色</strong><br/><br/>
                    <input class="net_radio" type="radio" name="color" value="net_people_ocean"><strong class="net_span_ocean">海洋之心</strong>
                    <input class="net_radio" type="radio" name="color" value="dream" style="margin-left:80px;"><strong class="net_span_dream">冰封之梦</strong>
                    <input class="net_radio_over" type="radio" name="color" value="net_people_pure-cyan"><strong class="net_span_pure-cyan">纯青色</strong><br/><br/>
                    </div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

                    <strong class="net_font">留言头像</strong><br/><br/><br/><br/><br/><div class="net_package_short">
                    <input class="net_radio" type="radio" name="head-sculpture" value="default"><strong class="net_span">默认学生头像</strong><br/><br/>
                    <input class="net_radio" type="radio" name="head-sculpture" value="anonymous"><strong class="net_span">匿名头像</strong>
                    -->

                    <button name="action" class="net_btm" type="submit" value="sending" id="input" style="position:absolute; left:900px;">send</button>
                    <br/><br/>
                </form>
                </div>
                <!--
                <p class="net_watermark">网站及后端由610开发!</p>
                -->
                <br/><br/>

                <script>
                    // 敏感词汇列表
                    var sensitiveWords = ['sb', 'gun', '死', 'cnmd', '操你', 'tmd', '他妈的', '变态', '傻逼', '煞笔', 'fuck',
                    '贱b', '溅b', '剑b', '奶奶的', 'nnd', 'CNMD', 'TMD', 'NND', 'FUCK', '滚', '丨', 's全家', '畜生', '你妈s了',
                    '氵衮', '衮', '没教养', '狗东西', 'r你', '日你', 'mmp', '伤感', '*', 'MMP', '狗b', '单身狗', '傻子', '疯了吧',
                    '杂种', '杀', 'sex', '性感', '白丝', '黑丝', '鸡巴', '勾巴', '问候你', '屮', '我x', '我X', '你没事吧', '您没事吧',
                    '狗叫', '你马', '马的', 'md', 'MD', '小瘪三', '渔网', '色色', '破网站', '败类', '有病', '油饼', '没素质', '下头',
                    '虾头', '次你', '色批', '色p', 'lsp', '卧槽', '我操', '艹', '蠢猪', 'v我', 'v你', '你丫', '2b', '2B', '二臂',
                    '你他妈', '你算个啥', '辣鸡', '垃圾', '狗b', '他娘', '自杀', '紫砂', '魔怔', '智障', '咒', '坑b', '坑B', 'V我',
                    'V你', 'der', '二百五', '250', '无耻', '农村入', '城市入', '大玉', '要脸', '妈的', '吊打', '屌丝', '没实力', '家人们谁懂啊',
                    '网络公主', '废物', 'fw', 'b样', 'B样', 'SB', '烧杯', 'cpdd', '处c', 'CPDD', '网络男神', '单挑', '傻鸟', '阴道', '穷b',
                    '装逼', '装b', '装B', 'FW', '装什么呢', 'shit', 'SHIT', '屎', 'GUN', '贼', '性侵', '同性恋', '你妈', '渣渣', '你算什么',
                    '成分复杂', '清空弹夹', '网暴', '网曝', 'lj', 'LJ', '身法哥', '深情', 'FBI', '原神启动', 'xxs'];

                    document.getElementById('myForm').addEventListener('submit', function(event) {
                      // 获取留言版的值
                      var usernameInput = document.querySelector('input[name="username"]');
                      var username = usernameInput.value;

                      // 检查留言板是否为空
                      if (username.trim() === '') {
                        alert('留言不可以为空哦！');
                        event.preventDefault();
                        return;
                      }

                      var sanitizedUsername = username.replace(/\s/g, '');

                      // 检查是否含有敏感词
                      if (containsSensitiveWord(sanitizedUsername, sensitiveWords)) {
                        alert('检测到敏感词哦！请重新留言！');
                        event.preventDefault();
                      } else {
                        alert('提交成功啦！我们会第一时间收到留言哦！');

                        // 清空输入框
                        usernameInput.value = '';

                        this.submit();
                      }
                    });

                    // 检查输入是否包含敏感词
                    function containsSensitiveWord(input, sensitiveWords) {
                      for (var i = 0; i < sensitiveWords.length; i++) {
                        if (input.indexOf(sensitiveWords[i]) !== -1) {
                          return true;
                        }
                      }
                      return false;
                    }
                    </script>
        </body>
    </html>
